@charset "UTF-8";

body{
	margin: 0;
	
	
}

a{
	text-decoration: none;
	color: #ffffff;
}

.navbar {
	display: flex;
	justify-content:space-between;
	align-items: center;
	background-color:#263343;
	padding: 8px 12px;

}

.navbar_logo{
	font-size:24px;
	color: #d49466;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}

.navbar_menu {
	display: flex;
	list-style: none;
	padding-left:0px;
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	
}

.navbar_menu li {
	padding: 8px 12px;
	font-family: 'Source Sans Pro', sans-serif;
}

.navbar_menu li:hover {
	background-color: #d49466; 
	border-radius: 4px;
}


.navbar_menu_user {
	display:none;
}


.navbar_user {
	padding-left: 5px;
	padding-right: 5px;
}

.navbar_toggleBtn{
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
}

@media screen and (max-width: 670px){
	.navbar{
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	
	.navbar_menu{
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	
	.navbar_menu li{
		width: 100%;
		text-align: center;
	}
	
	.navbar_user {
		display: none;
		justify-content: center;
	}
	
	.navbar_toggleBtn{
		display: block;
	}
	
	.navbar_menu_user {
		display:block;
	}
	

	.navbar_menu.active{
		display: flex;
	}
}

